body{
margin:0;
padding:0;
background:radial-gradient(#a429bc,#9225a7,#7f2092);
height:100vh;
overflow:hidden;
font-family:'Noto Sans TC',sans-serif;
}
.center{
font-size:28px;
font-weight:bold;
color:#FFFFFF;
padding:25px 0 30px 25px;
background:#5c1769;
border-bottom:1px solid #370e3f;
border-radius: 5px 5px 0 0;
}
.center form{
position:absolute;
background:white;
width:100%;
padding:50px 10px 0 30px;
box-sizing:border-box;
border:1px solid #6d1c7d;
border-radius:0 0 5px 5px;
}